# Logger
LOCKMATE_LOGGER_FORMAT=json
LOCKMATE_LOGGER_LEVEL=info

# Port
LOCKMATE_PORT_GRPC_SERVER=50051
LOCKMATE_PORT_HTTP_SERVER=50050

# Token
LOCKMATE_TOKEN_ACCESS_SECRET=CHANGE_ME
LOCKMATE_TOKEN_REFRESH_SECRET=CHANGE_ME
LOCKMATE_TOKEN_ACCESS_DURATION=15m
LOCKMATE_TOKEN_REFRESH_DURATION=24h

# Postgres
LOCKMATE_POSTGRES_HOST=127.0.0.1
LOCKMATE_POSTGRES_PORT=5432
LOCKMATE_POSTGRES_USERNAME=CHANGE_ME
LOCKMATE_POSTGRES_PASSWORD=CHANGE_ME
LOCKMATE_POSTGRES_DATABASE=lockmate
LOCKMATE_POSTGRES_SSL_MODE=disable
LOCKMATE_POSTGRES_MAX_CONNECTIONS=20
LOCKMATE_POSTGRES_CONNECT_TIMEOUT=10s

# Redis
LOCKMATE_REDIS_HOST=127.0.0.1
LOCKMATE_REDIS_PORT=6379
LOCKMATE_REDIS_DATABASE=0
LOCKMATE_REDIS_PASSWORD=CHANGE_ME
LOCKMATE_REDIS_NAMESPACE=lockmate
LOCKMATE_REDIS_CONNECT_TIMEOUT=5s
LOCKMATE_REDIS_OPERATION_TIMEOUT=200ms

# Caching
LOCKMATE_CACHING_RECORD_TTL=60s
LOCKMATE_CACHING_LIST_TTL=15s
