# Logger
LOCKMATE_LOGGER_FORMAT=json
LOCKMATE_LOGGER_LEVEL=info

# Port
LOCKMATE_PORT_GRPC_SERVER=50051
LOCKMATE_PORT_HTTP_SERVER=50050

# Token
LOCKMATE_TOKEN_ACCESS_SECRET=CHANGE_ME
LOCKMATE_TOKEN_REFRESH_SECRET=CHANGE_ME
LOCKMATE_TOKEN_ACCESS_DURATION=15m
LOCKMATE_TOKEN_REFRESH_DURATION=24h

# Postgres
LOCKMATE_POSTGRES_HOST=postgres
LOCKMATE_POSTGRES_PORT=5432
LOCKMATE_POSTGRES_USERNAME=postgres
LOCKMATE_POSTGRES_PASSWORD=postgres
LOCKMATE_POSTGRES_DATABASE=lockmate
LOCKMATE_POSTGRES_SSL_MODE=disable
LOCKMATE_POSTGRES_MAX_CONNECTIONS=20
LOCKMATE_POSTGRES_CONNECT_TIMEOUT=10s
